doctype html
html
  head
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Examples
    meta(name='description', content='')
    meta(name='keywords', content='')
    link(href='', rel='stylesheet')
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js')
    script(src='../../javascripts/intro.js')
  body
    div
      .row
        .col.s12.m6
          .card
            .card-content
              h1 發病症狀
              svg(width='640', height='480', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                // Created with SVG-edit - http://svg-edit.googlecode.com/
                g
                  image#svg_1(x='165.77779', y='33.55563', width='279.99999', height='420.99993', xlink:href='http://cliparts.co/cliparts/kiK/By8/kiKBy8zrT.jpg')
                  ellipse#svg_2(fill='#ff0000', stroke='#ff0000', cx='300', cy='55', rx='3', ry='3')
                  line#svg_3(fill='none', stroke='#ff0000', stroke-width='5', x1='299.77779', y1='55.55557', x2='299.77779', y2='56.55557')
                  line#svg_5(fill='none', stroke='#ff0000', stroke-linejoin='null', stroke-linecap='null', x1='299.5', y1='54.5', x2='405.5', y2='54.5')
                  ellipse#svg_9(fill='#ff0000', stroke='#ff0000', cx='309.75', cy='84.14288', rx='3', ry='3')
                  line#svg_10(fill='none', stroke='#ff0000', stroke-linejoin='null', stroke-linecap='null', x1='309.25', y1='83.64288', x2='415.25', y2='83.64288')
                  text#dl_B(fill='#000000', stroke='#ff0000', stroke-width='0', stroke-linejoin='null', stroke-linecap='null', x='374', y='100.14288', font-size='16', font-family='serif', text-anchor='middle', xml:space='preserve') B
                  ellipse#svg_12(fill='#ff0000', stroke='#ff0000', cx='350.25', cy='164.70001', rx='3', ry='3')
                  line#svg_13(fill='none', stroke='#ff0000', stroke-linejoin='null', stroke-linecap='null', x1='353.25', y1='165.20001', x2='429.25', y2='165.20001')
                  text#dl_D(fill='#000000', stroke='#ff0000', stroke-width='0', stroke-linejoin='null', stroke-linecap='null', x='404.5', y='180.70001', font-size='16', font-family='serif', text-anchor='middle', xml:space='preserve') D
                  ellipse#svg_16(fill='#ff0000', stroke='#ff0000', cx='258.47726', cy='143.72726', rx='3', ry='3')
                  line#svg_17(fill='none', stroke='#ff0000', stroke-linejoin='null', stroke-linecap='null', x1='150.97726', y1='144.22726', x2='256.97726', y2='144.22726')
                  text#dl_F(fill='#000000', stroke='#ff0000', stroke-width='0', stroke-linejoin='null', stroke-linecap='null', x='156.72726', y='163.22726', font-size='16', font-family='serif', text-anchor='middle', xml:space='preserve') F
                  ellipse#svg_7(fill='#ff0000', stroke='#ff0000', cx='290', cy='80.71429', rx='3', ry='3')
                  line#svg_8(fill='none', stroke='#ff0000', stroke-linejoin='null', stroke-linecap='null', x1='182.5', y1='81.21429', x2='288.5', y2='81.21429')
                  text#dl_C(fill='#000000', stroke='#ff0000', stroke-width='0', stroke-linejoin='null', stroke-linecap='null', x='211.00851', y='98.15249', font-size='16', font-family='serif', text-anchor='middle', xml:space='preserve') C
                  ellipse#svg_22(fill='#ff0000', stroke='#ff0000', cx='308.75', cy='132.71429', rx='3', ry='3')
                  line#svg_23(fill='none', stroke='#ff0000', stroke-linejoin='null', stroke-linecap='null', x1='308.25', y1='132.71429', x2='414.25', y2='132.71429')
                  text#dl_E(fill='#000000', stroke='#ff0000', stroke-width='0', stroke-linejoin='null', stroke-linecap='null', x='401.50781', y='150.64624', font-size='16', font-family='serif', text-anchor='middle', xml:space='preserve') E
                  ellipse#svg_25(fill='#ff0000', stroke='#ff0000', cx='307.75', cy='199.71429', rx='3', ry='3')
                  line#svg_26(fill='none', stroke='#ff0000', stroke-linejoin='null', stroke-linecap='null', x1='307.25', y1='199.21429', x2='413.25', y2='199.21429')
                  text#dl_G(fill='#000000', stroke='#ff0000', stroke-width='0', stroke-linejoin='null', stroke-linecap='null', x='414.01563', y='220.14959', font-size='16', font-family='serif', text-anchor='middle', xml:space='preserve') G
                  ellipse#svg_29(fill='#ff0000', stroke='#ff0000', cx='282.25', cy='184.71429', rx='3', ry='3')
                  line#svg_30(fill='none', stroke='#ff0000', stroke-linejoin='null', stroke-linecap='null', x1='174.75', y1='185.21429', x2='280.75', y2='185.21429')
                  text#dl_H(fill='#000000', stroke='#ff0000', stroke-width='0', stroke-linejoin='null', stroke-linecap='null', x='173.51632', y='201.15249', font-size='16', font-family='serif', text-anchor='middle', xml:space='preserve') H
                  text#dl_A(fill='#000000', stroke='#ff0000', stroke-width='0', stroke-linejoin='null', stroke-linecap='null', x='381.15198', y='69.72097', font-size='16', font-family='serif', text-anchor='middle', xml:space='preserve') A
                  p#intro
                    !{datas[0].發病症狀}

        .col.s12.m6(style='margin:0px auto;')
          .card
            //
              <div class="card-image" >
              <img src="">
              <span class="card-title">Card Title</span>
              </div>
            .card-content
              h1 #{text}
              p
                !{datas[0].簡介}
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .card-action
              a(target="_blank" href='#{datas[0].頁面}') 詳細資訊
              a(target="_blank" href='#{datas[0].影片連結}') 相關影片
        | &#x9;&#x9;&#x9;&#x9;
        



